
* {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
  	flex-direction: column;
  	align-items: center;
    background-color: #282c34;
    min-height: 100vh;
  	font-size: calc(5px + 2vmin);
}

.logo {
    width: 420px;
    border-radius: 5px;
}

.message-icon {
    height: 40px;
    vertical-align: middle;
    padding-right: 10px; 
}

.message-container {
    height: 500px;
    width: 400px;
    background: #e0e0e0;
    text-align: center;
    clear: both;
    padding: 10px;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    overflow-y: scroll; 
    scroll-behavior: smooth;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #7e3131;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #cd0000;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.user-message-bubble {
    background: #cd0000;
    text-align: right;
    float: right;
    content: "";
    clear: both;
    display: table;
    margin: 5px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 5px;
    position: relative;
    border-radius: 10px;
    font-weight: 900;
    color: #fff;
    font-family: arial;
}

.user-message-bubble::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 10px solid #cd0000;
    border-right: 10px solid transparent;
    border-top: 10x solid #cd0000;
    border-bottom: 10px solid transparent;
    right: -20px;
    top: 10px;
}

.bot-message-bubble {
    background: #7e3131;
    text-align: left;
    float: left;
    content: "";
    clear: both;
    display: table;
    margin: 5px;
    margin-left: 10px;
    margin-right: 20px;
    padding: 5px;
    position: relative;
    border-radius: 10px;
    font-weight: 900;
    color: #fff;
    font-family: arial;
}

.bot-message-bubble::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid #7e3131;
    border-top: 5px solid #7e3131;
    border-bottom: 5px solid transparent;
    left: -10px;
    top: 10px;
}

.input-container {
    margin: 5px;
    width: 420px;
    height: 50px;
    background: #cd0000;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position:relative;
    border-radius: 5px;
}

.input-field {
    width: 300px;
    border-radius: 4px;
    padding: 8px;
}

.send-button {
    background-color: #7e3131;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.send-button:hover {
    background-color: #555;
    color: white;
}



