/* Header Styles */

.chatbotHeader {
	height: var(--header-height);
	width: 100vw;
	background-color: var(--brock-primary);
	position: relative;
	display: flex;
	align-items: center;
}

.logoContainer {
	padding-left: calc(var(--header-height) * 0.2);
}

.logo {
	height: var(--header-height);
	width: calc(var(--header-height) * 2);
	object-fit: cover;
	object-position: 0 55%;
}

.list {
	width: calc(100vw - (var(--header-height) * 2));
	display: flex;
	justify-content: flex-end;
}

.listItem {
	height: var(--header-height);
	width: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown {
	position: relative;
}

.dropdownMenu {
	display: none;
	position: absolute;
	top: var(--header-height);
}

.dropdownMenu li {
	height: calc(var(--header-height) / 2);
	width: calc(var(--header-height) * 10);
	padding: 1rem;
	background-color: var(--brock-primary);
	display: flex;
	align-items: center;
}

.icon {
	cursor: pointer;
}

.help {
	height: calc(var(--header-height) * 0.6);
	width: calc(var(--header-height) * 0.6);
	padding: calc(var(--header-height) * 0.15);
}

.help:hover {
	animation: wobble 0.3s linear;
}

.copy {
	height: calc(var(--header-height) * 0.4);
	width: calc(var(--header-height) * 0.4);
	padding: calc(var(--header-height) * 0.15);
}
.copy:hover {
	animation: bounce 0.3s linear;
}

.settings {
	height: calc(var(--header-height) * 0.4);
	width: calc(var(--header-height) * 0.4);
	padding: calc(var(--header-height) * 0.15);
}

.settings:hover {
	transform: rotate(180deg);
	transition: transform 0.3s;
}

@keyframes wobble {
	40% {
		-webkit-transform: rotate(-30deg);
	}
	70% {
		-webkit-transform: rotate(50deg);
	}
	100% {
		-webkit-transform: rotate(-20deg);
	}
}
@keyframes bounce {
	40% {
		-webkit-transform: scale(1.2);
	}
	70% {
		-webkit-transform: scale(0.8);
	}
	100% {
		-webkit-transform: scale(1);
	}
}