/* Input Styles */

.inputContainer{
    height: var(--input-height);
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputField {
    width: 60vw;
    padding: calc(var(--input-height) * .2);
    border: none;
    border-radius: 1px;
    background-color: var(--brock-secondary-background);
    resize: none;
    outline: none;
}

.sendButton {
    height: calc(1.5rem + (var(--input-height) * .2) * 2);
    width: calc(1.5rem + (var(--input-height) * .2) * 2);
    background-color: var(--brock-primary);
    border: none;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sendButton:hover {
    background-color: black;
}

.sendButtonImage {
    height: 1rem;
    width: 1rem;
}