/* Message Container */

.messageContainer {
    height: calc(100vh - var(--header-height) - var(--input-height));
    width: 60vw;
    margin-bottom: var(--input-height);
    display: flex;
    flex-direction: column-reverse;
}

.scrollable {
    overflow-y: auto;
    scroll-behavior: auto;
}

::-webkit-scrollbar {
    width: 0;
}