/* Message Styles */

.message {
    margin: 1rem;
    display: flex;
}

.userMessage {
    justify-content: flex-end;
}

.botMessage {
    justify-content: flex-start;
    white-space: pre-wrap;
}

.messageIconUser {
    display:none;
    height: 45px;
    padding: 1px;
    position: relative;
    
}

.messageIcon {
    height: 17px;
    width: 75px;
    padding: 5px;
}

@keyframes wobble {
	40% {
		-webkit-transform: rotate(-400deg);
	}
	70% {
		-webkit-transform: rotate(-300deg);
	}
	85% {
		-webkit-transform: rotate(-380deg);
	}
    100% {
		-webkit-transform: rotate(-360deg);
	}
}


.messageBubble {
    max-width: 70%;
    padding: 1rem;
    background-color: var(--brock-secondary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


.userMessageBubble {
    border-bottom-right-radius: 0;
}

.botMessageBubble {
    border-bottom-left-radius: 0;
}

.name {
    font-weight: bold;
}

.userName {
    color: darkgray;
}

.botName {
    color: var(--brock-primary);
}

.time {
    margin-left: .5rem;
    opacity: .75;
}

.link {
    height: 15px;
    width: 15px;
    padding-left: 5px;

}

a {
    color: var(--brock-primary);
    text-underline-offset: 4px;
    width: 50px;
    white-space:pre-wrap;
    overflow: hidden;
  }

