/* Message Styles */

.userMessage {
    margin: 1rem;
    display: flex;
    justify-content: flex-end;
}

.botMessage {
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
}

.userMessageIcon {
    display: none; /* Temporary */
    height: var(--icon-height);
}

.botMessageIcon {
    display: none; /* Temporary */
    height: var(--icon-height);
}

.messageBubble {
    max-width: 60%;
    padding: 1rem;
    background-color: var(--brock-secondary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.userName {
    font-weight: bold;
    color: darkgray;
}

.botName {
    font-weight: bold;
    color: var(--brock-primary);
}

.time {
    margin-left: .5rem;
    opacity: .75;
}